---
layout: default
section: home
title: "Nic Weber: Academic Homepage"
---


  <div class="col-sm-11">
  <h1>Nic Weber</h1>
  Assistant Professor<br>
  University of Washington, Information School<br>
  Technical Director, Qualitative Data Repository (QDR)<br>
      <a href="bio.html">Short Bio</a> |
      <a href="cv/Weber-CV.pdf">Curriculum Vitae</a> |
      <a href="cv/nsf_biosketch/biosketch.pd">NSF-style biosketch</a> |
      <br>
      nmweber at uw.edu | Office: MGH 303B or in the <a href="https://datalab.ischool.uw.edu/">iSchool DataLab</a>
      <br>
      <br>
    </p>
  </div>


<div class="col-sm-11">
<p> I am an Assistant Professor in the Information School at the University of Washington where I teach and do research in the areas of systems analysis and design, software sustainability, and data curation. I also currently serve as the Technical Director of the Qualitative Data Repository where I lead a small development team in building open-source tools to facilitate transaprent social science research. My Ph.D. is in Information Science from the University of Illinois.
</p>
</div>

<p style="padding-top: 3cm">

<div class="container">

  {% for post in site.categories.projects limit:10 %}

  {% assign loopindex = forloop.index | modulo: 2 %}
  {% if loopindex == 1 %}
    <div class="row">
  {% endif %}

  {% include project.shtml %}

  {% if loopindex == 0 %}
    </div>
  {% endif %}

  {% endfor %}
</div>
<br>
<a href="{{ site.baseurl }}/projects">See all projects...</a>

<!--
-->
