---
layout: default
section: home
title: "Nic Weber: Academic Homepage"
---


  <div class="col-sm-8">
  <h1>Nic Weber</h1>
  Assistant Professor<br>
  University of Washington, Information School<br>
      <a href="bio.html">Short Bio</a> |
      <a href="cv/Weber-CV.pdf">Curriculum Vitae</a> |
      <a href="cv/nsf_biosketch/biosketch.pd">NSF-style biosketch</a> |
      <br>
      nmweber at uw.edu | Office: Mary Gates Hall 303-B 
      <br>
      <br>
    </p>
  </div>
  <div class="col-sm-3">
    <img src="images/nic.jpg" height="180" width="160" class="pull-right img-responsive">
</div>


<div class="col-sm-11">
  <p> I'm an Assistant Professor in the Information School (iSchool) at the University of Washington where I teach and do research in the areas of systems analysis and design, software sustainability, and data curation. At the iSchool I have affiliations with the DataLab and the Technology and Social Change (TASCHA) group. I am also the Technical Director for the Qualitative Data Repository (QDR) where I lead a small development team in building open-source tools to facilitate transparent social science research.</p>
  <p>My Ph.D. is in Information Science from the University of Illinois where I worked on problems related to peer production and institutional governance in the Center for Informatics Research in Science and Scholarship (CIRSS)</p>

  <p>My research primarily falls into four categories:</p>
  <ol>
  <li>I design, build, and study the implementation of data-based infrastructures.</li>
  <li>I conduct ethnographic and mixed methods research in the field of computer supported cooperative work (CSCW).</li>
  <li>I do research on the adoption, use, and sustainability of open data and civic technologies.</li>
  <li>Increasingly, I'm interested in the evolution of the web and in particular decentralized protocols.</li>
  </ol>

  <h3>Prospective Students</h3>
  <p>I'm currently recruiting PhD students that want to work in any of the areas described above. I have a number of funded research opportunities. If you are interested in working with me please see <a href="/students/prospective">this</a> page for more information.</p>
<p style="padding-top: 1cm">
</div>

<!--<div class="container">
<h3>Current Research Projects</h3>
<p style="padding-top: .25cm">

  {% for post in site.categories.projects limit:10 %}

  {% assign loopindex = forloop.index | modulo: 2 %}
  {% if loopindex == 1 %}
    <div class="row">
  {% endif %}

  {% include project.shtml %}

  {% if loopindex == 0 %}
    </div>
  {% endif %}

  {% endfor %}
</div>
<br>
<a href="{{ site.baseurl }}/projects">See all projects...</a>

<!--->
<div class=container>
</div>
